@media (max-width: 500px) {
  #canvas {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  #canvas {
    width: 50%;
  }
}

.container {
  text-align: center !important;
  overflow: hidden;
}

[type='radio'] {
  display: none;
}

#all {
  font-size: large;
  padding: 25px 28px 24px;
  border: 1px solid transparent;
}

p {
  color: white;
}

[class*='col'] {
  margin-top: 1%;
  margin-bottom: 1%;
}
